# dependencies
node_modules

# env files (VERY IMPORTANT)
.env
.env.local
.env.*.local

# build outputs
dist
build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# backend logs (optional)
*.log